<h2>Single Source: {{model.name}}</h2>

<li>Kind: {{model.kind}}</li>
<li>Missing: {{model.merlot_missing}}</li>
<li>Count: {{model.course_count}}</li>

<p>
  {{link-to "Show Courses" 'sources.source.courses' model.id}}
</p>

{{outlet}}
