<div class="row u-background-blue nav-top">
  <div class="col-sm-12">
    <h1>{{model.name}}</h1>
  </div>
</div>

<li>Kind: {{model.kind}}</li>
<li>Missing: {{model.merlot_missing}}</li>
<li>Count: {{model.course_count}}</li>

<p>
  {{link-to "Show Courses" 'sources.source.courses' model.id}}
</p>

{{outlet}}
