<h4>Course: {{model.title}}</h4>

<p>Language: {{model.language}}</p>
<p>Present in Merlot: {{model.merlot_present}}</p>
<p>{{model.description}}</p>
<p>Categories:
  {{#each model.categories as |category|}}
    {{category.name}}<br />
  {{/each}}
</p>

{{outlet}}
